body {
  background-color: black;
  color: #9ca3af;
  background-image: url('/public/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
  }

  .title {
    background: linear-gradient(to right, #e8499e, #437ef6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .hr-gradient {
    border: 0;
    height: 4px; /* 두께 */
    background: linear-gradient(to right, #e8499e, #437ef6);
    border-radius: 2px; /* 라운드 처리(선택) */
  }

  .category {
    font-weight: bold;
    margin: 20px 0;
    position: relative;
    padding-left: 16px; /* 세로선 너비만큼 여백 */
  }

  .category::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 80%;
    border-radius: 3px;
    transform: translateY(-50%);
  }

  .category-pachi {
    color: #e4007f;
  }
  .category-pachi::before {
    background: #e4007f;
  }

  .category-reel {
    color: #2563eb;
  }
  .category-reel::before {
    background: #2563eb;
  }

  .card {
    border: none;
    background-color: #242424;
    color: #9ca3af;

    .pachi-btn {
      background-color: #e4007f !important;
      border-color: #e4007f;
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #d1006b;
      }
    }
    .reel-btn {
      background-color: #2563eb !important;
      border-color: #2563eb;
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #1a5bbf;
      }
    }

    .card-title {
      font-weight: bold;
      margin: 16px 0;
    }

    .card-sub-title {
      color: white;
      font-weight: bold;
      text-align: center;
      margin: 8px 0 18px;
    }
  }

  .description {
    background: #242424;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;

    .description-title {
      margin: 10px 0 20px;
      color: #ff5722;
      font-weight: bold;
    }
  }
}
